.psoAt0l0{
    position:absolute;
    top:0%;
    left:0%;
}
.WELL{
    margin-top: 150px;
}
.center{
    align: center !important;
}
.SchoolImg{
    max-height: 150px;
}
div.action{
    background-color: rgb(241, 194, 50) !important;
}