<div class="btn-group btn-group-justified">
    <div class="btn-group">
        <button type="button" class="btn btn-default" data-ng-click="filterLang='0'">ru</button>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-default" data-ng-click="filterLang='1'">en</button>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-default" data-ng-click="filterLang=''">All</button>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"> Добавить язык</span></button>
    </div>
</div>