<div class="WELL">
    <div class="row">
        <div class="col-lg-12">
            <h3>Приглашение на должность тренера в школу{{school.Name}}</h3>
            <div class="form-group">
                <div class="col-lg-2">
                    <button type="submit"  class="btn btn-success {{ButtonDisabled}}" ng-click="submit(1)">Принять{{Page.SystemUser.TitleFirstName}}</button>
                </div>
                <div class="col-lg-2">
                    <button type="submit"  class="btn btn-success {{ButtonDisabled}}" ng-click="submit(0)">Отклонить{{Page.SystemUser.TitleFirstName}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
