    <div class="WELL">
        <div class="col-lg-12">
            <div class="row">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active" ng-if="User.success">
                            <a href="#/Balance" ng-if="!IdSchool">
                                <span class="badge pull-right">
                                    {{Balance}}
                                </span>
                                Текущий баланс
                            </a>
                        </li>
                        <li ng-if="IdSchool">
                            <a href="#/MySchool">{{Page.LeftMenu.MySchool}}</a>
                        </li>
                        <li ng-if="User">
                            <a href="#/PrivateLessons">{{Page.navbar.PrivateLessons}}</a>
                        </li>
                        <li ng-if="User">
                            <a href="#/LK">{{Page.navbar.LK}}</a>
                        </li>
                        <li ng-if="!User.success">
                            <a ng-click="reg_Dancer()">
                                Зарегистрироваться
                            </a>
                        </li>
                    </ul>
                </div>
        </div>
    </div>