<div class="WELL">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <div class="col-lg-2"><h4>{{school.Name}}</h4></div>
                <div class="col-lg-3"><a href="#/UpdateMySchool/" class="label label-info"><span class="glyphicon glyphicon-refresh">Обновить</span></a></div>
                <br>
            </div>
            <img id="Img" ng-src="img/upload/{{school.FileName}}">
            <div class="form-group">
                <div class="well well-lg ng-scope">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group" ng-bind-html="school.Body">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="well well-lg ng-scope">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group" ng-bind-html="school.AddInfo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="well well-lg ng-scope">
                    <div class="row">

                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-1">
                                                <h5>{{Page.Common.TypeLesson}}</h5>
                                            </div>
                                            <div class="col-lg-1">
                                                <h5>
                                                    <a ng-click="AddTypeLesson()"><label class="label label-success"><span class="glyphicon glyphicon-plus"></span></label></a>
                                                </h5>
                                            </div>
                                            <div class="col-lg-9">
                                                <div class="col-lg-11" ng-repeat="TypeLesson in ListLessonTypes">
                                                    <div class="col-lg-3">
                                                        {{TypeLesson.TypeName}}
                                                    </div>
                                                    <div class="col-lg-5" ng-bind-html="TypeLesson.Shortdescription">

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="form-group">
                                    <div class="panel-body">
                                        <div class="row"><div class="col-lg-1"></div>
                                            <div class="col-lg-11"><h5>Период на который будет генерироваться журнал занятий:</h5></div>
                                        </div>
                                        <a ng-click="AddSemester()"><label class="label label-success"><span class="glyphicon glyphicon-plus"></span></label></a>
                                        <div class="row"  ng-repeat="Semester in SemesterList">
                                            <div class="col-lg-1">

                                            </div>
                                            <div class="col-lg-1">

                                            </div>
                                            <div class="col-lg-10">
                                                <div class="row">
                                                <div class="col-lg-2">
                                                    {{Semester.Semester}}
                                                </div>
                                                <div class="col-lg-6">
                                                    {{Semester.DateBegin}} &#x2012 {{Semester.DateEnd}}
                                                </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-2">
                                                        Тип занятия:
                                                    </div>
                                                    <div class="col-lg-6">
                                                        Стоимость занятия:
                                                    </div>
                                                </div>
                                                <div class="row" ng-repeat="tl in Semester.tl">
                                                    <div class="col-lg-1"></div>
                                                    <div class="col-lg-2">
                                                        {{tl.TypeLesson}}
                                                    </div>
                                                    <div class="col-lg-1"></div>
                                                    <div class="col-lg-5">
                                                        {{tl.Cost}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-1">
                                            <h5>{{Page.Common.Price}}</h5>
                                        </div>
                                        <div class="col-lg-1">
                                            <h5>
                                                <a ng-click="AddPrice()"><label class="label label-success"><span class="glyphicon glyphicon-plus"></span></label></a>
                                            </h5>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="col-lg-11" ng-repeat="price in PriceList">
                                                <div class="col-lg-3">
                                                    {{price.name}}
                                                </div>

                                                <div class="col-lg-1">
                                                    {{price.Cost}}
                                                </div>
                                                <div class="col-lg-5">
                                                    {{price.DateActualStart}}
                                                    -:-
                                                    {{price.DateActualEnd}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                -->

                            </div>

                            <div class="form-group">

                            </div>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-1">
                                            <h5>{{Page.Common.TimeTable}}</h5>
                                        </div>
                                        <div class="col-lg-1">
                                            <h5>
                                                <a href="#/LessonInTimeTable/{{IdSchool}}"><label class="label label-success"><span class="glyphicon glyphicon-plus"></span></label></a>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-1">
                                            <h5>Журнал занятий</h5>
                                        </div>
                                        <div class="col-lg-1">
                                            <h5>
                                                <a ng-href="#/JournallLessons/{{IdSchool}}"><label class="label label-success"><span class="glyphicon glyphicon-eye-open"></span></label></a>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-1">
                                            <h5>{{Page.Common.Instructors}}</h5>
                                        </div>
                                        <div class="col-lg-1">
                                            <h5>
                                                <a ng-click="InviteInstructor()"><label class="label label-success"><span class="glyphicon glyphicon-plus"></span></label></a>
                                            </h5>
                                        </div>
                                        <div class="col-lg-9" ng-repeat="Instructor in InstructorList">
                                            <div class="col-lg-3">
                                                {{Instructor.FirstName}}
                                                {{Instructor.LastName}}
                                                {{Instructor.Patronomic}}. Платит комиссию в виде
                                                {{Instructor.Rate}}% с оплаты занятия
                                            </div>
                                            <div class="col-lg-3">
                                                <a class="btn btn-default ng-binding" ng-binding ng-click='RemoveFromSchool(Instructor.ID)'>{{Page.Create.Delete}}  <label class="label label-danger">
                                                    <span class="glyphicon glyphicon-minus"></span>
                                                </label></a>
                                                <a class="btn btn-default ng-binding" ng-binding ng-click='EditRateForInstructor(Instructor.ID)'>{{Page.Create.Update}}
                                                    <label class="label label-primary">
                                                        <span class="glyphicon glyphicon-refresh"></span>
                                                    </label>
                                                </a>
                                            </div>
                                            <div class="col-lg-1">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>