<div class="WELL">
    <div class="col-lg-12">

        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-1">
                        История платежей:
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-11">
                        <div class="">
                            <ul class="nav nav-pills nav-stacked">
                                <li class="active">
                                    <div class="alert alert-success" role="alert">alert-success</div>
                                </li>
                                    <div class="alert alert-warning" role="alert">alert-warning</div>
                                <li>
                                    <div class="alert alert-success" role="alert">Успешно</div>
                                </li>

                                <li>
                                    <div class="alert alert-success" role="alert">Успешно</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>