<div class="WELL">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="well well-lg">
                        <div class="col-lg-12">
                            <div><img ng-src="img/upload/{{school.FileName}}" align="middle" class="SchoolImg" ng-bind>
                            </div>
                        </div>


                    <div class="row">
                        <div class="col-lg-9">
                            <div class="row">
                                <h3>
                                {{school.Name}}</h3>
                            </div>
                            <div class="row">
                                <p ng-bind-html="school.Descript"></p>
                            </div>
                            <div class="row">
                                {{Page.Common.Address}}:{{school.Country}}, {{school.City}}, {{school.Street}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6" ng-init="liprice='active'">
                            <ul class="nav nav-tabs nav-justified" role="tablist">
                                <li ng-class="liprice"><a ng-click="ngshow=1; liprice='active'; liroom='';litrainers=''" >
                                    Стоимость занятий
                                </a>
                                </li>
                                <li ng-class="liroom"><a ng-click="ngshow=2;liprice=''; liroom='active';litrainers=''">
                                    Помещения
                                </a>
                                </li>
                                <li ng-class="litrainers"><a ng-click="ngshow=3; liprice=''; liroom='';litrainers='active'">
                                    Тренеры
                                </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row" ng-if="ngshow==1">

                                <h4>Стоимость занятий</h4>

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <ul class="list-group">
                                                <li class="list-group-item" ng-repeat="price in priceList">
                                                    <span class="badge">{{price.Cost}}</span>
                                                    {{price.name}}
                                                    <div ng-if="price.hide">
                                                        {{price.ShortDescription}}
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                        <div class="col-lg-1">
                            <h5>{{Page.Common.TimeTable}}</h5>
                        </div>
                        <div class="col-lg-1">
                            <h5>
                                <a ng-href="#/LessonInTimeTable/{{school.ID}}"><label class="label label-success"><span class="glyphicon glyphicon-plus"></span></label></a>
                            </h5>
                        </div>
                    </div>

                    <div class="row" ng-if="ngshow==2">

                                <h4>Помещения:</h4>

                                <div class="col-lg-9">
                                    <div class="form-group">
                                        <ul class="list-group">
                                            <li class="list-group-item" ng-repeat="room in RoomList">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        {{room.Name}}
                                                    </div>
                                                    <div class="col-md-8">
                                                        Адресс: {{room.Country}} ,{{room.City}}, {{room.Street}}
                                                    </div>
                                                </div>
                                                <div ng-if="room.hide">
                                                    {{room.ShorDescr}}
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                    </div>
                    <div class="row" ng-if="ngshow==3">
                                <div class="col-lg-5">
                                    <div class="form-group">
                                        <ul class="list-group">
                                            <h4>Тренеры</h4>
                                            <li class="list-group-item" ng-repeat="trainer in trainersList">
                                                <a ng-href="#/Trainer/{{trainer.ID}}" class="pointer">{{trainer.FirstName}} {{trainer.LastName}} {{trainer.Patronymic}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>