<div class="WELL">
    <div class="row">
        <div class="col-lg-12">
            <div class="well well-lg width75">
                <div class="row">
                    <div class="col-lg-9" ng-repeat="trainer in trainersList">
                        <div class="row">
                            <div class="col-lg-3">
                                <img class="trainerImg" ng-src="img/upload/{{trainer.fotoImg}}">
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-7">
                                <a ng-href="#/Trainer/{{trainer.ID}}">{{trainer.FirstName}} {{trainer.LastName}} {{trainer.Patronymic}}</a>
                            </div>

                        </div>
                        <hr class="marginsub">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>