<div class="well well-lg ng-scope">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="panel panel-default">
                    <div class="form-group">
                        <div class="panel-body">
                            <div class="row"><div class="col-lg-1"></div>
                                <div class="col-lg-11"><h5>Период на который будет генерироваться журнал занятий:</h5></div>
                            </div>
                            <a ng-click="AddSemester()"><label class="label label-success"><span class="glyphicon glyphicon-plus"></span></label></a>
                            <div class="row"  ng-repeat="Semester in SemesterList">
                                <div class="col-lg-1">

                                </div>
                                <div class="col-lg-1">

                                </div>
                                <div class="col-lg-10">
                                    <div class="row">
                                        <div class="col-lg-2">
                                            {{Semester.Semester}}
                                        </div>
                                        <div class="col-lg-6">
                                            {{Semester.DateBegin}} &#x2012 {{Semester.DateEnd}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-2">
                                            Тип занятия:
                                        </div>
                                        <div class="col-lg-6">
                                            Стоимость занятия:
                                        </div>
                                    </div>
                                    <div class="row" ng-repeat="tl in Semester.tl">
                                        <div class="col-lg-1"></div>
                                        <div class="col-lg-2">
                                            {{tl.TypeLesson}}
                                        </div>
                                        <div class="col-lg-1"></div>
                                        <div class="col-lg-5">
                                            {{tl.Cost}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-1">
                                <h5>{{Page.Common.Price}}</h5>
                            </div>
                            <div class="col-lg-1">
                                <h5>
                                    <a ng-click="AddPrice()"><label class="label label-success"><span class="glyphicon glyphicon-plus"></span></label></a>
                                </h5>
                            </div>
                            <div class="col-lg-9">
                                <div class="col-lg-11" ng-repeat="price in PriceList">
                                    <div class="col-lg-3">
                                        {{price.name}}
                                    </div>

                                    <div class="col-lg-1">
                                        {{price.Cost}}
                                    </div>
                                    <div class="col-lg-5">
                                        {{price.DateActualStart}}
                                        -:-
                                        {{price.DateActualEnd}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    -->

                </div>



            </div>
        </div>
    </div>
</div>