<div class="WELL">
    <div class="col-lg-12">

        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-1">
                        История платежей:
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-11">

                            <ul class="nav nav-pills nav-stacked">
                                <li class="active" ng-repeat="t in Transactions">
                                    <div class="row">
                                        <div class="alert {{t.success==1|alertSuccess}}" role="alert" >

                                            <div class="col-lg-3">Инициализация оплаты: {{t.DateTransactionInit}}
                                            </div>
                                            <div class="col-lg-3" ng-if="t.success==1">Подтверждение оплаты оплаты: {{t.CompleteDate}}
                                            </div>
                                            <div class="col-lg-3" ng-if="t.success==0">Отмена оплаты: {{t.CompleteDate}}
                                            </div>
                                            <div class="col-lg-4" ng-if="t.success==1">
                                                Баланс пополнен {{t.OutSum}}
                                            </div>
                                            <div class="col-lg-4" ng-if="t.success==0">

                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>