<div class="WELL">
    <form ng-submit="CreateSubscription(Subscr)">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-10">
                    {{Page.Subscription.in}}
                    <div class="row headerLessInSub">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-2">Тип занятия</div>
                        <div class="col-lg-2">Количество занятий</div>
                        <div class="col-lg-3">Добавить занятие <a ng-click="AddLessInSubscription()"><label class="label label-success"><span class="glyphicon glyphicon-plus"></span></label></a></div>
                        <div class="col-lg-4">
                        </div>
                    </div>
                    <br>
                    <div class="row" ng-repeat="LessInSub in LessonWithoutSub">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-2">{{LessInSub.TypeLesson}}</div>
                        <div class="col-lg-2">{{LessInSub.numb}}</div>
                        <div class="col-lg-3">
                            <a class="btn btn-default ng-binding" ng-binding ng-click='Delete(LessInSub.ID)'>{{Page.Create.DeleteRoom}}  <label class="label label-danger">
                                <span class="glyphicon glyphicon-minus"></span>
                            </label></a>
                            <a class="btn btn-default ng-binding" ng-binding ng-click='Update(LessInSub)'>{{Page.Create.Update}}  <label class="label label-info">
                                <span class="glyphicon glyphicon-refresh"></span>
                            </label></a>
                        </div>
                        <div class="col-lg-4">

                        </div>
                        <br>
                    </div>

                </div>
                <div class="col-lg-2">

                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-lg-10">
                    <div class="form-group">
                        <label for="AddInfo" class="col-lg-2 control-label">{{Page.Common.AddInfo}}:</label>
                        <div class="col-lg-9">
                            <textarea class="form-control" rows="14"  id="AddInfo" redactor ng-model='Subscr.ShortDescription' placeholder="{{Page.Common.AddInfo}}"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-8">Абонемент будет действовать
                </div>
                <div class="col-lg-4">
                </div>
            </div>
            <br>

            <div class="row">
                <div class="form-group">
                    <label for="Subscr" class="col-lg-2 control-label ">{{Page.Subscr.DateActual}} от:</label>
                    <div class="row">
                        <div class="col-lg-2">
                            <input type="text" size="10" class="form-control" ng-model="Subscr.DateBegin" data-autoclose="1" data-date-type="string" placeholder="Date" bs-datepicker>
                        </div>
                        <div class="col-lg-1">
                            <input type="text" size="8" class="form-control" ng-model="Subscr.TimeBegin" data-autoclose="1" data-time-type="string" placeholder="Time" bs-timepicker>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Subscr" class="col-lg-2 control-label ">{{Page.Subscr.DateEnd}}до:</label>
                    <div class="row">
                        <div class="col-lg-2">
                            <input type="text" size="10" class="form-control" ng-model="Subscr.sharedDate" data-autoclose="1" data-min-date="{{fromDate}}" data-date-type="string" placeholder="Date" bs-datepicker>
                        </div>
                        <div class="col-lg-1">
                            <input type="text" size="8" class="form-control" ng-model="Subscr.sharedTime" data-autoclose="1" data-time-type="string" placeholder="Time" bs-timepicker>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                {{Page.Subscription.Cost}}:
                <input type="text"  id="cost" testsum='"^-?[0-9]\\d{0,1}(\\(\\d{0,3})?\\)?\\-?\\d{0,3}?\\-?\\d{0,4}$"' class="form-control" ng-model="Subscr.cost" placeholder="" required="">
            </div>
            <div class="col-lg-2">
                {{Page.Subscription.Duration}}:
                <input type="text"  id="Duration" testsum='"^-?[0-9]\\d{0,9}?$"' class="form-control" ng-model="Subscr.Duration" placeholder="" required="">
            </div>

        </div>
    </div>
    <div class="form-group">
        <label  class="col-lg-3 control-label"></label>
        <div class="col-lg-5">
            <button type="submit"  class="btn btn-success {{ButtonDisabled}}">{{Page.Create.CreateSub}}</button>
        </div>
    </div>
    </form>
</div>